.el-radio__inner {
  display: none;
}

.el-form-item__content {
  width: 450px;
}

.el-radio.is-bordered + .el-radio.is-bordered {
  margin-left: 0;
  margin-bottom: 10px;
}


.recharge-company {
  .el-radio.is-bordered {
    height: 90px;
    width: 90px;
    position: relative;
    padding: 12px 0 0 0;
  }


}

.pick-img {
  display: none;
  position: absolute;
  top: 56px;
  right: 0;
}

.active {
  display: block;
}

.recharge-input {
  width: 250px;
}

.discounts {
  color: red;
  font-size: 24px;
}

.original {
  font-size: 18px;
  text-decoration: line-through;
}
